@import './assets/styles/reset.min.css';

body {
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-size: 16px;
    background-color: #fff;
    a {
        text-decoration: none;
        color: #fff;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.17em;
    }
    h4 {
        font-size: 1.12em;
    }
    h5 {
        font-size: 0.83em;
    }
    h6 {
        font-size: 0.75em;
    }
    p {
        font-size: 1em;
    }
    .container {
        max-width: 1176px;
        margin: 0 auto;
        width: 100%;
    }
    .section-title {
        p {
            color: #616161;
            font-weight: 700;
            font-size: 12px;
            letter-spacing: 3px;
            margin-bottom: 4px;
            text-transform: uppercase;
        }
        h2 {
            position: relative;
            margin-top: 0;
            margin-bottom: 2em;
            text-transform: capitalize;
            a {
                color: #000;
                font-weight: 700;
            }
            &::after {
                content: '';
                position: absolute;
                bottom: -4px;
                left: 0;
                height: 1px;
                width: 40px;
                background: #161616;
            }
        }
    }
    .header {
        height: 4.875em;
        // position: absolute;
        background-color: rgba($color: #000000, $alpha: 1);
        width: 100%;
        .header-body {
            display: flex;
            padding: 1.75em 0;
            align-items: center;
            flex-wrap: wrap;
            .navbar {
                margin: 0 1em;
                .navbar__list {
                    display: flex;
                    .navbar__item {
                        padding: 0 2em;
                        color: #a7b0c2;
                        // margin-right: 85px;
                        font-size: 16px;
                        letter-spacing: 0.03em;
                        font-weight: 700;
                        transition: all 0.2s;
                        .navbar__item_active {
                            color: #b174ff;
                        }
                    }
                }
            }
        }
    }
    .banner {
        min-height: 100%;
        height: 100%;

        .banner__inner {
            position: relative;
            height: 50vh;
            width: 100%;
            -webkit-transition: height 99999s;
            transition: height 99999s;
            max-height: 840px;
            .banner__bg {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                // background-image: url(./assets/images/banner__bg.png),
                background: linear-gradient(298deg, #7600e0, #3c59fc);
                // background-size: 60%, 100%;
                background-repeat: no-repeat;
                background-position: center, center;
                background-blend-mode: multiply;
                .banner__text {
                    // position: relative;
                    .banner__text_body {
                        margin: 0;
                        position: absolute;
                        top: 50%;
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                        color: white;
                        line-height: 1.9em;
                        h1 {
                            text-transform: uppercase;
                            line-height: 2em;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }

    .category {
        .category__body {
            padding: 4em 0;
            .category__list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                a {
                    margin: 0.8em auto;
                }

                .category__card {
                    position: relative;
                    background-color: blue;
                    height: 480px;
                    width: 280px;
                    text-align: center;
                    background-repeat: no-repeat;
                    background-position: center, center;
                    &:hover {
                        box-shadow: 0 0.8px 3.2px rgba(0, 0, 0, 0.035),
                            0 2.1px 8.9px rgba(0, 0, 0, 0.05),
                            0 5.1px 21.4px rgba(0, 0, 0, 0.065),
                            0 17px 71px rgba(0, 0, 0, 0.1);
                    }
                    .category__card-body {
                        .category__card-title {
                            position: absolute;
                            top: 50%;
                            font-weight: 700;
                            text-align: center;
                            text-transform: uppercase;
                            width: 100%;
                        }
                        .category__card-footer {
                            position: absolute;
                            bottom: 7%;
                            text-transform: uppercase;
                            text-align: center;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
    .product__card {
        position: relative;
        background-color: white;
        height: 520px;
        width: 280px;
        text-align: left;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        &:hover {
            box-shadow: 0 0.8px 3.2px rgba(0, 0, 0, 0.035),
                0 2.1px 8.9px rgba(0, 0, 0, 0.05),
                0 5.1px 21.4px rgba(0, 0, 0, 0.065),
                0 17px 71px rgba(0, 0, 0, 0.1);
        }
        .product__card-body {
            padding: 1em;
            .product__card-title {
                color: #363636;
                height: 80px;
            }
            .product__card-progress {
                margin: 1em 0;
                .product__card-progress-item {
                    margin: 1em 0;
                    p {
                        margin: 0.2em 0;
                        color: #858585;
                    }
                }
            }
        }
    }

    .footer {
        background: #000;
        padding: 16px 0;
        color: #fff;
        .footer__body {
            display: flex;
            // padding: 2.5em 0;
            .footer-left {
                max-width: 600px;
                .logo {
                    margin: 1.2em 0;
                }
                p {
                    max-width: 640px;
                    margin-right: 20px;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0.03em;
                }
            }
            .footer-right {
                text-align: right;
                align-items: flex-end;
            }
        }
    }
    .product__card-header:hover .overlay-block {
        opacity: 1;
        cursor: pointer;
    }
    .overlay-block {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition: 0.5s ease;
        background-color:  #3c59fc10;
        overflow: hidden;
    }
    .product_select {
        appearance: none;
    }
    input[type='radio']:checked + .product__card {
        // box-sizing: border-box;
        // -moz-box-sizing: border-box;
        // -webkit-box-sizing: border-box;
        border: 1px solid #3c59fc;
    }
    input[type='radio']:checked + .product__card .overlay-block{
        opacity: 1;
        background-color:  #3c59fc30;

    }
    label {
        height: 200px;
        width: 400px;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        // border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    th {
        width: 200px !important;
        font-size: 12px;
        text-align: center;
    }
    td {
        width: 500px !important;
    }
    tr:nth-child(even) {
        background-color: #dddddd;
    }
    
    .ComparisonList__comparisonList___3iorf {
        position: fixed;
        bottom: 1em;
        right: calc((100% - 1300px) / 2);
        box-sizing: border-box;
        transform: translateX(-1em);
        z-index: 100;
    }
    .ComparisonList__comparisonList___3iorf .ComparisonList__header___2NBHi {
        display: flex;
        align-items: center;
        padding: 0.5em 1em;
        border-radius: 20px 20px 0;
        background: linear-gradient(134deg, #3c59fc, #7600e0);
        color: #fff;
        cursor: pointer;
        box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
    }
    .ComparisonList__comparisonList___3iorf
        .ComparisonList__header___2NBHi
        .ComparisonList__vs___3j7ep {
        font-weight: 700;
        font-size: 20px;
        padding-right: 0.5em;
        padding-bottom: 3px;
        transition: transform 0.2s;
    }
    .ComparisonList__comparisonList___3iorf
        .ComparisonList__header___2NBHi
        .ComparisonList__title___2RVdO {
        width: 160px;
        padding-left: 0.5em;
        padding-right: 1em;
        border-left: 1px solid #fff;
    }
    .ComparisonList__comparisonList___3iorf
        .ComparisonList__header___2NBHi.ComparisonList__open___2nVw9
        svg {
        transform: rotate(90deg);
    }
    .ComparisonList__comparisonList___3iorf .ComparisonList__body___3lIOV {
        background-color: #fff;
        margin-left: 20px;
        border-radius: 0 0 20px 20px;
        box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
        height: 0;
        transition: height 0.3s;
        overflow: hidden;
    }
    .ComparisonList__comparisonList___3iorf .ComparisonList__body___3lIOV ul {
        list-style: none;
        margin: 0;
        padding: 0;
        max-height: 188px;
        overflow-y: auto;
        box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.1);
    }
    .ComparisonList__comparisonList___3iorf .ComparisonList__body___3lIOV li {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0.5em 30px 0.5em 0;
        margin: 0 1em;
        border-bottom: 1px solid #dfdfdf;
        -webkit-animation-name: ComparisonList__appear___13qCw;
        animation-name: ComparisonList__appear___13qCw;
        -webkit-animation-duration: 0.25s;
        animation-duration: 0.25s;
    }
    .ComparisonList__comparisonList___3iorf
        .ComparisonList__body___3lIOV
        li
        .ComparisonList__image___nb7tL {
        position: relative;
        height: 30px;
        width: 45px;
        margin-right: 0.5em;
    }
    .ComparisonList__comparisonList___3iorf
        .ComparisonList__body___3lIOV
        li
        .ComparisonList__name___m2tlp {
        max-width: 130px;
        font-size: 14px;
    }
    .ComparisonList__comparisonList___3iorf
        .ComparisonList__body___3lIOV
        li
        .ComparisonList__trash___1lCfA {
        position: absolute;
        right: 4px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        height: 22px;
        width: 22px;
        background-color: #bebebe;
        border-radius: 20px;
        margin-left: 1em;
        padding: 0;
        cursor: pointer;
        border: none;
    }
    .ComparisonList__comparisonList___3iorf
        .ComparisonList__buttonContainer___1fdUx {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0 0 20px 20px;
        margin: 0 1em 0 2em;
    }
    .ComparisonList__comparisonList___3iorf
        .ComparisonList__buttonContainer___1fdUx
        a {
        margin: 0 !important;
    }
    .ComparisonList__comparisonList___3iorf
        .ComparisonList__buttonContainer___1fdUx
        button {
        height: 30px;
        margin: 0.5em 0;
        border-radius: 20px;
    }
    .ComparisonList__comparisonList___3iorf
        .ComparisonList__buttonContainer___1fdUx
        .ComparisonList__addButton___cjPtX {
        cursor: pointer;
        background-color: #3c59fc;
        border: 1px solid #3c59fc;
        color: #fff;
        width: 30px;
    }
    .ComparisonList__comparisonList___3iorf
        .ComparisonList__body___3lIOV
        li
        img {
        position: absolute;
        max-height: 100%;
        max-width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .versusButton {
        cursor: pointer;
        font-weight: 700;
        font-size: 12px;
        color: #fff;
        background-color: #3c59fc;
        border: 1px solid #3c59fc;
        border-radius: 2px;
        padding: 8px 32px;
        margin: 0;
    }
    .versusButton:hover {
        color: #3c59fc;
        background-color: #fff;
    }
    .ComparisonList__comparisonList___3iorf
        .ComparisonList__buttonContainer___1fdUx
        button {
        height: 30px;
        margin: 0.5em 0;
        border-radius: 20px;
    }
    .ComparisonList__comparisonList___3iorf
        .ComparisonList__body___3lIOV
        li
        .ComparisonList__trash___1lCfA
        svg {
        margin: auto;
    }
    .ComparisonList__comparisonList___3iorf {
        position: fixed;
        bottom: 1em;
        right: calc((100% - 1300px) / 2);
        box-sizing: border-box;
        transform: translateX(-1em);
        z-index: 100;
    }

    
}
